**/SRCOriginal
**/SRCOutline
**/TaskConfigCopy
**/*_task/run001
**/*_task/latest
**/*_task/skywater
**/*_Verilog/SRC_Skeleton
**/*_Verilog/SRCBackup
**/DOC/build
**/SRC**/*_tb.v
**/SDC/**/*.sdc
!**/SDC/**/disable_configure_ports.sdc
